
.divcenter {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: #e7b9e59a;
    color: rgba(131, 61, 172, 0.699);
    border-radius:12px ;
    width: 50%;
    margin:auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    
}

.Button
{
  background-color: rgb(94, 6, 64);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius:8px;
  text-align: center;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.445);
}

.Button:hover
{
    background-color: #9d9ebd;
    color:rgb(27, 21, 31)
}
