
.container{

    display: inline-block;
    height: 500px;
    background-color: #e7b9e59a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color: rgba(131, 61, 172, 0.699);
    border-radius:12px ;
    width: 50%;
    margin:auto;

    
}
