.expenses-filter {
    color: rgb(151, 49, 146);
    padding: 0 1rem;
   justify-content: space-between;
  }
  
  .expenses-filter__control {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expenses-filter-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    float:left;
   
  }
  
  .expenses-filter-select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    margin-right:auto;
    float:right;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  .cont{

    margin-block-end: auto;

  }